<div class="container">
    <div class="carousel">
        <div class="cont">
            <div class="bord">
                <div class="bord-next">
                    <div class="icon">new</div>
                    <div>
                        <a href=""><img src="images/bitmap-1.png" alt=""></a>
                        <a href="">Шкарпетки короткі V&T</a>
                    </div>
                    <div>
                        <p>65.00 UAH</p>
                    </div>
                </div>
                <div class="bord-next">
                    <div class="icon">new</div>
                    <div>
                        <a href=""><img src="images/bitmap-2.png" alt=""></a>
                        <a href="">Шкарпетки короткі V&T</a>
                    </div>
                    <div>
                        <p>65.00 UAH</p>
                    </div>
                </div>
                <div class="bord-next">
                    <div class="icon">new</div>
                    <div>
                        <a href=""><img src="images/bitmap-3.png" alt=""></a>
                        <a href="">Шкарпетки короткі V&T</a>
                    </div>
                    <div>
                        <p>65.00 UAH</p>
                    </div>
                </div>
                <div class="bord-next">
                    <div class="icon">new</div>
                    <div>
                        <a href=""><img src="images/bitmap-4.png" alt=""></a>
                        <a href="">Шкарпетки короткі V&T</a>
                    </div>
                    <div>
                        <p>65.00 UAH</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="cont">
            <div class="bord">
                <div class="bord-next">
                    <div class="icon">new</div>
                    <div>
                        <a href=""><img src="images/bitmap-1.png" alt=""></a>
                        <a href="">Шкарпетки короткі V&T</a>
                    </div>
                    <div>
                        <p>65.00 UAH</p>
                    </div>
                </div>
                <div class="bord-next">
                    <div class="icon">new</div>
                    <div>
                        <a href=""><img src="images/bitmap-2.png" alt=""></a>
                        <a href="">Шкарпетки короткі V&T</a>
                    </div>
                    <div>
                        <p>65.00 UAH</p>
                    </div>
                </div>
                <div class="bord-next">
                    <div class="icon">new</div>
                    <div>
                        <a href=""><img src="images/bitmap-3.png" alt=""></a>
                        <a href="">Шкарпетки короткі V&T</a>
                    </div>
                    <div>
                        <p>65.00 UAH</p>
                    </div>
                </div>
                <div class="bord-next">
                    <div class="icon">new</div>
                    <div>
                        <a href=""><img src="images/bitmap-4.png" alt=""></a>
                        <a href="">Шкарпетки короткі V&T</a>
                    </div>
                    <div>
                        <p>65.00 UAH</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>