
<div class="container">
    <div class="head">
        <div class="left-menu">
            <div class="menu">
                <a href=""><img src="images/menu.png" alt=""></a>
                <a href="" style="font-size: 18px;">Menu</a>
            </div>
            <div class="phone">
                <a href=""><i>+38 (096) 762-40-96</i></a>
            </div>
        </div>
        <div class="logo">
            <img src="images/logo.svg" alt="">
        </div>
        <div class="right-menu">
            <div class="search">
                <a href=""><img src="images/magnifying-glass.svg" alt=""></a>
            </div>
            <div class="heart">
                <a href=""><img src="images/heart.svg" alt=""></a>
            </div>
            <div class="shop">
                <a href=""><img src="images/shopping-bag.svg" alt=""></a>
            </div>
            <div class="user">
                <a href=""><img src="images/user.svg" alt=""></a>
            </div>
            <div class="cur">
                <div class="btn-group">
                    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">UAH</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">ua</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="next-menu">
        <ul>
            <li><a href="#">Жінкам</a></li>
            <li><a href="#">Чоловікам</a></li>
            <li><a href="#">Дітям</a></li>
            <li><a href="#"><i>Sale</i></a></li>
            <li><a href="#">Підписка</a></li>
            <li><a href="#">Подарункові коробки</a></li>
        </ul>
    </div>
</div>
